### Gradle ###
.gradle/
build/
out/
artifacts/
dist/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Kotlin ###
.kotlin

### Mac OS ###
.DS_Store

*.class
*.log
*.ctxt
hs_err_pid*

### Minecraft ###
run/
runs/

### JavaScript ###
node_modules/
/src/scripting/src/main/kotlin/io/github/etheradon/graalbridge/scripting/playground/

### Containers ###
*.zip
*.jar
!libs/**
!gradle-wrapper.jar
